/* necessary to use percentages to size images */
html
{
	height: 100%;
}

/* background image management */
body
{
	background-image: url(Background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	height: 100%; /* necessary to use percentages to size images */
}

/* image-button management */
img
{
    width: 20%;
    height: 15%;
	display: block;
	position: relative;
}

/* Blog image */
.blogImg
{
	top: 5%;
	left: 13%;
}

/* GitHub image */
.gitHubImg
{
	top: 10%;
	left: 13%;
}

/* AboutMe image */
.aboutMe
{
	top: 15%;
	left: 13%;
}