/* page title */
h1
{
	color: white;
	text-align: center;
}

/* paragraph title */
h2
{
	color: orange;
}

/* left and right padding for the text (width = 60%) */
div
{
	padding-left: 20%;
	padding-right: 20%;
}

/* center the images horizontally and vertically (padding-left=padding-right=25%) */
img
{
    width: 50%;
    height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}